<div class='flex flex-col not-only-of-type:justify-between md:flex-row' >

<div class='bg-gray-100 w-96'>
    <div class='flex-row flex justify-between'>
    
   </div>
    <img src='images/dublino.jpg'></img>
    
<div>
<h1 class='text-2xl font-extrabold '> DUBLINO  </h1>
<p class='text-gray-400'> ESPLORA DUBLINO!   </p>

<a href='dublino ' class='font-bold text-cyan-700'>Novità</a>
</div>
</div>

<div class='bg-gray-100 w-96'>
    <div class='flex-row flex justify-between'>
    </div>
    <img src='images/oslo.jpeg'></img>
    
<div>
<h1 class='text-2xl font-extrabold '>OSLO </h1>
<p class='text-gray-400'> VISITA IL MUSEO DI MUNCH!</p>

<a href='oslo'class='font-bold text-cyan-700'> Novità </a>
</div>
</div>
<div class='bg-gray-100 w-96'>
    <div class='flex-row flex justify-between'>
    </div>
    <img src='images/sirenetta.jpg'></img>
    
<div>
<h1 class='text-2xl font-extrabold '> COPENAGHEN </h1>
<p class='text-gray-400'> AMMIRA LA SIRENETTA !  </p>

<a href='copenaghen' class='font-bold text-cyan-700'>Novità</a>
</div>
</div>
</div>