  <div class="flex flex-col items-center p-4 space-y-8 md:flex-row md:justify-around md:items-start md:space-y-0">
    
    
        <div class="flex flex-col items-center text-center md:items-start md:text-left mt-10">
          <h1 class="text-3xl text-black font-extrabold mb-4"> Newsletter </h1> 
          <input
            type="text"
            class="border-black border-2 mt-5 p-2 rounded-md w-full max-w-xs"
            placeholder=" Inserisci la tua mail "
          />
          <h5 class="text-xs mt-2 underline cursor-pointer"> Leggi l'informativa  </h5>
        </div>
    
        <div class="flex flex-col items-center text-center md:items-start md:text-left mt-10">
          <h1 class="text-3xl text-black font-extrabold mb-4"> i love social </h1>
          <div class="flex flex-row justify-center space-x-4 mt-2">
            <img class="w-10 h-10 object-contain" src="images/instagram.png" alt="Instagram" />
            <img class="w-10 h-10 object-contain" src="images/youtube.png" alt="YouTube" />
          </div>
        </div>
      </div>
      
      <div class="flex flex-col bg-gray-700 text-white p-6 mt-5 md:flex-row md:justify-around md:flex-wrap">
        
        <div class="mb-8 md:mb-0 md:w-1/2 lg:w-auto">
          <h1 class="font-bold text-lg mb-2"> Conosciamoci meglio </h1>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Chi siamo</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Soluzioni per il tuo viaggio</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Lavora con noi</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Mappa del sito</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline"></h3>
        </div>
        
        <div class="mb-8 md:mb-0 md:w-1/2 lg:w-auto">
          <h1 class="font-bold text-lg mb-2"> I tuoi acquisti facili </h1>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Modalità di pagamento</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Modalità di spedizione</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Stime tempi di consegna</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Informativa prezzi e sconti</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Installazione e altri servizi</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Informativa RAEE</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">I nostri punti vendita</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Volantino</h3>
        </div>
         <div class="mb-8 md:mb-0 md:w-1/2 lg:w-auto">
          <h1 class="font-bold text-lg mb-2"> Sicurezza e trasparenza </h1>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Condizioni di vendita</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Sicurezza dei pagamenti</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Garanzie</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Reso e diritto di recesso</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Risoluzione controversie</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Avvertenza legale</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Privacy e policy clienti</h3>
        </div>
    
        <div class="mb-8 md:mb-0 md:w-1/2 lg:w-auto">
          <h1 class="font-bold text-lg mb-2"> Al tuo servizio </h1>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Lista regali</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Social network</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Photosì stampa le tue foto</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">I nostri servizi in negozio</h3>
        </div>
  
        <div class="mb-8 md:mb-0 md:w-1/2 lg:w-auto">
          <h1 clas="font-bold text-lg mb-2"> Area clienti </h1>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Area personale</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Newsletter</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Unieuro club</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Aperture straordinarie</h3>
          <h3 class="font-extralight text-sm mb-1 cursor-pointer hover:underline">Assistenza clienti</h3>
        </div>
      </div>