<div div class="rounded-4xl bg-white p-4  w-175 mt-5 flex flex-col">
      <h1 class="font-semibold text-black "> sei riusito a fare ciò per cui eri venuto su questo sito oggi?</h1>
      <h2 class="font-light"> La tua risposta ci aiutarà a migliorare il nostro sito  </h2>
      <div>
        <div class='border-2  rounded-4xl w-45 p-2 mt-1.5'>
  <input type="radio" id="opzione1" name="gruppoOpzioni" value="valore1"/>
  <label for="opzione1"> Si, sono riuscito  </label><br/>
  </div>
<div class='border-2  rounded-4xl w-80 p-2 mt-1.5'>
  <input type="radio" id="opzione2" name="gruppoOpzioni" value="valore2"/>
  <label for="opzione2"> No, ho provato ma non sono riuscito  </label><br/>
  </div>
<div class='border-2  rounded-4xl w-110 p-2 mt-1.5'>
  <input type="radio" id="opzione3" name="gruppoOpzioni" value="valore3"/>
  <label for="opzione3"> sto ancora finendo ciò per cui ero venuto qua. </label>
</div>
</div>
    </div>