<div class="flex flex-col relative bg-black w-full">
            <h1 class='absolute top-4 left-5 text-white font-extrabold text-4xl'> COPENAGHEN  </h1>
<img src= 'images/sirenetta.jpg'></img>
<button class=' rounded-full absolute left-4  bottom-50 px-10 py-5 bg-white text-black'> scopri di più</button>
<div class='rounded-4xl bg-[#a0a0e0]/40 shadow-2xl p-4 mt-7 w-175 flex flex-row'>
        <div>
        <h1 class='text-3xl text-white font-bold'>Visita Copenaghen </h1>
        <h2 class=' text-white'> Visiteremo i più famosi pub e posti con cultura hygge della città. Proveremo a metterci nei panni degli abitanti e apprezzeremo questa cultura</h2>
    </div>
    </div>
        </div>